.logo{
    float: left;
    object-fit: contain;
    margin-left: 20px;
    height: 100px;
    width: 30%
}

.logo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    margin-right: 30px
}


.profile-dropdown{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.create-spot-button{
    color:tomato;
}

.log-out{
    background-color: white;
    /* padding-left: 5px; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    border: 1px solid tomato;
    border-radius: 10px;
    color: tomato
}

.log-out:hover{
    cursor:pointer;
    color: black;
    background-color: tomato;
}


.login-button:hover{
    cursor:pointer;
    color: black;
    background-color: tomato;
}


.signup-button:hover{
    cursor:pointer;
    color: black;
    background-color: tomato;
}

.login-signup-container{
    display: flex;
    margin-right: 200px;
    padding: 3px 3px 3px 10px;
    color: black
}